/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Magic:the Gathering";src:url("MAGIC.eot?") format("eot"),url("MAGIC.woff") format("woff"),url("MAGIC.ttf") format("truetype"),url("MAGIC.svg#Magic:theGathering") format("svg");font-weight:normal;font-style:normal;}

.center{
    width: 300px!important;
    height: 200px!important;
    margin:auto;
}

.button{
    color: white !important;
    background: rgb(255,86,21)!important;
    background: linear-gradient(165deg, rgba(255,86,21,1) 0%, rgba(255,255,82,1) 98%, rgba(255,255,81,1) 100%)!important;
}

@media only screen and (max-width: 600px) {
    .modal-content, .modal-card {
        width: 15rem!important;
        display: inline-table!important;
    }
}



    @media only screen and (min-width: 600px) {
        .imag{
            width: 500px!important;
            height: 300px!important;
            margin: auto;
            padding: 5%; 
                           
        }

        .modal-content, .modal-card {
            width: 18rem!important;
            display: inline-table!important;
        }
        
    }

    @media only screen and (min-width: 1200px) {
        .imag{
            width: 600px!important;
            height: 400px!important;
            margin: auto;
            padding: 3%;
       
        }
       .column{
           padding: 2rem!important;
       }
    }
       
.p3{
    padding: 3%;
}

    
body, nav, button, input, optgroup, select, textarea, html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6{
   font-family: "Magic:the Gathering"!important;
}

.reset{
    margin-top:0px;
    padding-top: 0px;
}

#app{
    margin-top: 0px!important;
}

.navbar-item img {
    max-height: 3.3rem!important;
}



.modal-card-head, .modal-card-foot {
   
    display: block!important;
 
}

.footer {
    
    padding: 1rem!important;
}


.modal-card{
    margin-top: 1rem!important;
    
}